
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getajob</title>
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="bg-bodycolor dark:bg-bodycolor">

  <nav class="bg-sky-400 dark:bg-sky-400 fixed w-full z-20 top-0 left-0 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    {% block navbar %}

    {% endblock navbar %}
    </div>
  </nav>
  
<section class="heroSection  px-[100px] ">
    
    {% block herosection %}

    {% endblock herosection %}
</section>
 
<heading class="title1 w-full flex justify-between items-center py-[10px]  px-[100px] ">
  <div class="recentJob ">
    <h1 class=" text-[50px]  font-semibold text-black">How its Works</h1>
  </div>
</heading>

<ArtWork class="justify-center px-[100px] w-full  flex flex-wrap">
  {% block ArtWork  %}

  {% endblock ArtWork %}
</ArtWork>

<heading class="title2 w-full flex justify-between items-center py-[10px]  px-[100px] ">
  <div class="recentJob ">
    <h2 class="text-[50px] font-semibold text-black">Recent Job</h2>
  </div>
  <button type="submit" class=" border-[2px] rounded-[10px]  p-[10px] text-[12px] font-semibold bg-white group-hover:bg-white"><a href="/recentJob">more</a></button>

</heading>


<article class="jobs flex px-[100px] gap-10 justify-between   flex-wrap py-10">
  {% block jobs %}{% endblock jobs %}
</article>

<heading class="title3 w-full flex justify-between items-center py-[50px] px-[100px] ">
  <div class="recentJob ">
    <h2 class="text-[50px] font-semibold text-black">Search Job By Category</h2>
    <h3 class=" text-[15px] px-2 text-slate-400">Find job of your personal choice</h3>
  </div>
  <button type="submit" class=" border-[2px] rounded-[10px]  p-[10px] text-[12px] font-semibold bg-white group-hover:bg-white"><a href="/recentJob"> Show More</a></button>
</heading>

<article class="">
  {% block category %}
  {% endblock category %}
</article>


<summary class="subcribe flex px-[100px] w-full h-[500px] items-center justify-center  py-10 " >
  {% block subscribe %}
  
  {% endblock subscribe %}
</summary>

<footer>
  {% block footer %}{% endblock footer %}
</footer>

</body>

</html>