{% load static %}

<div class="  flex justify-between  ">
    <div class="stepfollow items-center   ">
       
        <div class="steps  flex gap-5 mt-20 ">
            <img class="w-10  "src="{% static 'img/artWork/check.svg' %}" alt="">
            <h3 class=" text-[18px] text-slate-400">We work remotely in the largest Community in the world</h3>
        </div>
        <div class="steps  flex gap-5 mt-12">
            <img class="w-10  "src="{% static 'img/artWork/check.svg' %}" alt="">
            <h3 class=" text-[18px] text-slate-400">We work remotely in the largest Community in the world</h3>
        </div>
        <div class="steps  flex gap-5 mt-12">
            <img class="w-10  "src="{% static 'img/artWork/check.svg' %}" alt="">
            <h3 class=" text-[18px] text-slate-400">We work remotely in the largest Community in the world</h3>
        </div>
        <div class="steps  flex gap-5 mt-12">
            <img class="w-10  "src="{% static 'img/artWork/check.svg' %}" alt="">
            <h3 class=" text-[18] text-slate-400">We work remotely in the largest Community in the world</h3>
        </div>
      

    </div>

    <div class="artwork items-center ">
        <img class=" h-[90%] w-[90%] " src="{% static 'img/artWork/design.svg' %}" alt="not found">
    </div>
    
   
</div>