<div class=" mx-auto max-w-screen-xl h-screen grid content-center text-center lg:py-16 lg:px-12 ">
     <div class=" ">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl dark:text-black">Find Your Dream Job Here<br> <span class="text-blue-700"> In One Place<span></h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Find Job, Create Trackable Resumes, And Enrich Your Applications</p>
           
     </div>   
   

    {% include 'home/search.html' %}
    
</div>