<div class="w-1/2 ">
    <h1 class=" text-center  text-3xl font-extrabold  text-black k">Subscribe To Our Newslater</h1>
<form  class="py-10" action="">
    <div class="firstDiv flex justify-between items-center rounded-[8px] gap-[10px] bg-white p-4 shadow-lg shadow-slate-300">
        <div class="flex gap-5 items-center w-full ">

            <i class="fa-regular fa-envelope text-[25px] icon "></i>
            
            <input type="text" class="bg-transparent  text-blue-600 focus:outline-none  w-[100%] " placeholder='Subscribe To Our Newslater..'>
        </div>
    </div>
    <div class="btn inline-flex justify-center w-full mt-10">
    <button class=" bg-blue-700 h-full px-5 py-2 rounded-[4px] text-white cursor-pointer hover:bg-blue-500 block">Subcribe</button>
</div>
</form>
</div>